<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="XamarinMPOSDemo.XamarinMPOSDemo">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<application android:label="XamarinMPOSDemo"></application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<application>
		<service android:name="io.mpos.comlinks.bluetooth.background.BluetoothConnectionService" android:enabled="true" android:label="Bluetooth Connection Service" />
	</application>
</manifest>